# Python Tutorial Udemy:
Command Line Basics
,Installing Python
,Running Python Code
,Strings
,Lists
,Dictionaries
,Tuples
,Sets
,Number Data Types
,Print Formatting
,Functions
,Scope
,args/kwargs
,Built-in Functions
,Debugging and Error Handling
,Modules
,External Modules
,Object Oriented Programming
,Inheritance
,Polymorphism
,File I/O
,Advanced Methods
,Unit Tests
,and much more!

# Contents of this Course

# 1. Object and Data Structure Basics:
- Numbers
- Strings
- Lists
- Dictionaries
- Tuples
- Files
- Sets
- Booleans

# 2. Comparison Operators:
- Basic Operators
- Chained Comparison Operators

# 3. Python Statements
- if, elif, and else
- For loops
- While loops
- range()
- List Comprehensions

# 4. Methods and Functions
- Methods
- Functions
- Lambda expressions
- Nested Statements
- Scope

# 5. Object Oriented Programming (OOP)
- Objects
- Classes
- Methods
- Inheritance
- Special Methods

# 6. Errors and Exception Handling
- Errors
- Exceptions
- try
- except
- finally

# 7. Modules and Packages
- Creating Modules 
- Installing Modules
- Exploring the Python Ecosystem

# 8. Built-in-Functions
- map
- reduce
- filter
- zip
- enumerate
- all and any
- complex

# 9. Python Generators
- Iteration vs Generation
- Creating Generators

# Notebook 1: contents (1 -- 3)

# 1. Object and Data Structure Basics:
- Numbers
- Strings
- Lists
- Dictionaries
- Tuples
- Files
- Sets
- Booleans

# Numbers

Modulo or "Mod" Operator

In [ ]:
7/4

In [ ]:
# to get remainder
7 % 4

In [ ]:
50 % 5

In [ ]:
23 % 2 # odd or even number check

In [ ]:
2**3

In [ ]:
2 + 10 * 10 + 3

In [ ]:
(2+10) * (10+3)

Variable Assingments

In [ ]:
a=5
b=5.1
type(a),type(b)

In [ ]:
my_income=100
tax_rate=0.1
my_tax = my_income * tax_rate

In [ ]:
my_tax

# Strings

In [ ]:
"Hello"

In [ ]:
'world'

In [ ]:
'this is also string'

In [ ]:
"I'm going on a run"

In [ ]:
print("hello")
print("world")

In [ ]:
print("hello \nworld")

In [ ]:
print("hello \tworld")

In [ ]:
len('hello')

In [ ]:
len('I am')

String Indexing and Slicing

In [ ]:
mystring= "Hello World"

In [ ]:
mystring

In [ ]:
mystring[0]

In [ ]:
mystring[8]

In [ ]:
mystring[9]

In [ ]:
mystring[-2]

In [ ]:
slicing_mystring='abcdefghijk'

In [ ]:
slicing_mystring

In [ ]:
slicing_mystring[2:]

In [ ]:
slicing_mystring[:3] # stop indexng means go upto but not including

In [ ]:
slicing_mystring[3:6] # first letter including last letter excluding

In [ ]:
slicing_mystring[::]

In [ ]:
slicing_mystring[::2]

In [ ]:
slicing_mystring[2:7:2]

In [ ]:
slicing_mystring[::-1] # reverse slicing

String Properties and Methods

Immutability

In [ ]:
name="Sam"

In [ ]:
name[0] = 'P' # Can't be replaced like that

In [ ]:
name.replace('S','P')

In [ ]:
last_letters = name[1:]

In [ ]:
'P' + last_letters

In [ ]:
letter = 'z'
letter * 10

In [ ]:
'2' + '3'

In [ ]:
x = 'Hello World'

In [ ]:
x.split('o'),x.upper() # x.'hit Tab'

In [ ]:
x.find('r'),x.replace('W','A')

String Formatting for Printing

In [ ]:
#Formatting with the .format() method
print('This is a string {}'.format('INSERTED'))

In [ ]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

In [ ]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

Float formatting follows "{value:width.precision f}"

In [ ]:
result = 100/777

In [ ]:
result

In [ ]:
print("The result was {r:1.3f}".format(r=result))

In [ ]:
name = "Jose"
print(f'Hello, his name is {name}')

In [ ]:
name ="Sam"
age=3
print(f'{name} is {age} years old')

In [ ]:
print('Floating point numbers: %1.2f' %(164.498474))

In [ ]:
56 % 10

# Lists

In [ ]:
my_list = [1,2,3]

In [ ]:
my_list = ['string',1,2,3]

In [ ]:
len(my_list)

In [ ]:
my_list = ['one','two','three']
my_list[1:]

In [ ]:
another_list = ['four', 'five']
new_list = my_list + another_list

In [ ]:
new_list[0] = 'ONE ALL CAPS' #replace an item in a list this method of replacing is not possible in string

In [ ]:
new_list

In [ ]:
new_list.append('six') # new_list.[tab]

In [ ]:
new_list

In [ ]:
new_list.pop() #removing last value from a list

In [ ]:
new_list

In [ ]:
#removing an specific item from list
new_list.pop(0)

In [ ]:
new_list

In [ ]:
more_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [ ]:
more_list.sort()
num_list.sort()

In [ ]:
print(more_list)
print(num_list)

In [ ]:
num_list.reverse()
num_list

In [ ]:
num_list.insert(index,value) # value of integer or float

In [ ]:
num_list.append(2)

In [ ]:
num_list

# Dictionaries

In [ ]:
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
my_dict

In [ ]:
my_dict['key1']

In [ ]:
prices_lookup = {'apple':2.99,'orange':1.99,'milk':5.80}

In [ ]:
prices_lookup['apple']

In [ ]:
d={'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [ ]:
d

In [ ]:
d['k2']

In [ ]:
d['k3']['insideKey']

In [ ]:
e = {'key1':['a','b','c']}

In [ ]:
e

In [ ]:
mylist = e['key1']
mylist

In [ ]:
letter = mylist[2]
letter

In [ ]:
letter.upper()

In [ ]:
e

In [ ]:
e['key1'][2].upper()

In [ ]:
d = {'k1':100,'k2':200}

In [ ]:
d

In [ ]:
d['k3'] = 300 #adding new dictionary items
d

In [ ]:
d['k1'] = 'NEW VALUE' #replacing item with new values
d

In [ ]:
d ={'k1': 100, 'k2': 200, 'k3': 300}

In [ ]:
d.keys()

In [ ]:
d.get('k3')

In [ ]:
d.items()

# Tuples

tuples are immutable (can not be changed after assigning)

In [ ]:
t = (1,2,3)

In [ ]:
mylist = [1,2,3]

In [ ]:
type(t)

In [ ]:
type(mylist)

In [ ]:
len(t)

In [ ]:
t = ('one',2)

In [ ]:
t[0]

In [ ]:
t = ('a','a','b')

In [ ]:
t.count('a')

In [ ]:
t.index('a') #very first time it appears in the index

In [ ]:
t

In [ ]:
mylist

In [ ]:
mylist[0]='NEW'

In [ ]:
mylist

In [ ]:
t[0]='NEW' ## therefore tuple is essential for data integrity

# sets

Sets are unordered collections of unique elements

In [ ]:
myset=set()

In [ ]:
myset

In [ ]:
myset.add(1)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset #if you try to add a value which is already in there it won't repeat it

In [ ]:
mylist=[1,1,1,1,1,2,2,2,3,3,3,3]

In [ ]:
set(mylist)

# booleans

operators to convey True and False statements

In [ ]:
True

In [ ]:
False

In [ ]:
type(False)

In [ ]:
1 > 2

In [ ]:
1 == 1

In [ ]:
b = None

In [ ]:
type(b)

# Files

In [ ]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

In [ ]:
myfile=open('myfile.txt')

In [ ]:
pwd

In [ ]:
myfile.read()

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read()

In [ ]:
contents = myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.readlines()

In [ ]:
myfile.close

In [ ]:
with open('myfile.txt') as my_new_file: # shift tab to see the funtionalities
    contents = myfile.read()

In [ ]:
contents

- mode = 'r' is read only
- mode = 'w' is write only (will overwrite files or creat new!)
- mode = 'a' is append only (will add on to files)
- mode = 'r+' is reading and writing
- mode = 'w+' is writing and reading (Overwrites existing files or creates a new file!)

In [ ]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [ ]:
with open('my_new_file.txt', mode ='r') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt', mode ='a') as f:
    f.write('FOUR ON FOURTH')

In [ ]:
with open('my_new_file.txt', mode ='r') as f:
    print(f.read())

In [ ]:
with open('fwieufhiasdufhsd.txt', mode ='w') as f:
    f.write('new file is created')

In [ ]:
with open('fwieufhiasdufhsd.txt', mode ='r') as f:
    print (f.read())

# 2. Comparison Operators:
- Basic Operators
- Chained Comparison Operators

In [ ]:
2 == 2

In [ ]:
2 == 1

In [ ]:
'hello' == 'bye'

In [ ]:
'Bye' == 'bye' #beware of lower and upper case

In [ ]:
'2' == 2

In [ ]:
2.0 == 2

In [ ]:
3 != 3 # not equal to sign !

In [ ]:
4 != 5

In [ ]:
2 > 1

In [ ]:
1 > 2

In [ ]:
2 < 5

In [ ]:
2 >=2

In [ ]:
4 <= 1

Chaining Comparison Operators With Logical Operators
Logical operators are 
- and
- or
- not

In [ ]:
1 < 2

In [ ]:
2 < 3

In [ ]:
1 < 2 and 2 < 3

In [ ]:
('h' == 'h') and (2 == 2)

In [ ]:
1 == 1 or 2 == 2

In [ ]:
100 == 1 or 2 == 2

In [ ]:
100 == 1 and 2 == 2

In [ ]:
1 == 1

In [ ]:
not 1 == 1

In [ ]:
400 > 5000

In [ ]:
not 400 > 5000

# 3. Python Statements
- if, elif, and else
- For loops
- While loops
- range()
- List Comprehensions

# If, Elif and Else statements

In [ ]:
hungry = True
if hungry:
    print('feed me')
else:
    print('Im not hungry')

In [ ]:
hungry = False
if hungry:
    print('feed me')
else:
    print('Im not hungry')

In [ ]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool")
elif loc == 'Bank':
    print("Money is cool")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much")

In [ ]:
name = 'Jose'
if name == 'Frankie':
    print("Hello Frankie")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

# For Loops

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in mylist:
    print ('hello')

In [ ]:
for num in mylist:
    # check for even 
    if num % 2 == 0:
        print(f'Even:{num}')
    else:
        print(f'Odd: {num}')

In [ ]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

In [ ]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

In [ ]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

In [ ]:
tup = (1,2,3)
for item in tup:
    print(item)

In [ ]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [ ]:
len(mylist)

In [ ]:
# tuple unpacking
for a,b in mylist:    
    print(a)
    print(b)

In [ ]:
mylist =[(1,2,3),(5,6,7),(8,9,10)]

In [ ]:
for a,b,c in mylist:
    print(b)

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

In [ ]:
for item in d:
    print(item)

In [ ]:
for item in d.items():
    print(item)

In [ ]:
for key,value in d.items():
    print(key)
    print(value)

# While loops

In [ ]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
#    x = x + 1 same as below
    x += 1
else:
    print("X IS LESS THAN 5")

In [ ]:
x = 50
while x < 5:
    print(f'The current value of x is {x}')
#    x = x + 1 same as below
    x += 1
else:
    print("X IS LESS THAN 5")

Break, continue, pass

In [ ]:
x = [1,2,3]
for item in x:
    pass # to avoid a syntax error
print('end of my scripts')

In [ ]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

In [ ]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

In [ ]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x+=1

In [11]:
# extracting even or odd position number from the length of the list

y = [3,6,4,89,35,12,45,23,97,23,60,32,68]
i=0
oh = len(y)
while i < oh:
    if i % 2 == 1:
        print(y[i])
    i +=1

6
89
12
23
23
32

In [12]:
# extracting even or odd position value from the length of the list

y = [3,6,4,89,35,12,45,23,97,23,60,32,68]
i=0
oh = len(y)
while i < oh:
    if i % 2 == 0:
        print(y[i])
    i +=1

3
4
35
45
97
60
68

In [15]:
y = [3,6,4,89,35,12,45,23,97,23,60,32,68]
for j in y:
    if j % 2 == 0:
        print(j)

6
4
12
60
32
68

In [16]:
y = [3,6,4,89,35,12,45,23,97,23,60,32,68]
for j in y:
    if j >= 50:
        print(j)

89
97
60
68

# Useful Operators

- range
- enumerate
- zip
- in
- min
- max
- from random import shuffle, randint
- input

In [17]:
mylist =[1,2,3]

In [22]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [23]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [26]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is  a
At index 1 the letter is  b
At index 2 the letter is  c
At index 3 the letter is  d
At index 4 the letter is  e

In [33]:
#index_count = 0
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
#    print('\n')

0
a
1
b
2
c
3
d
4
e

In [38]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [39]:
for item in zip (mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [44]:
for a,b,c in zip (mylist1,mylist2,mylist3):
    print(a)
    print(b)
    print(c)

1
a
100
2
b
200
3
c
300

In [42]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [45]:
'x' in [1,2,3]

False

In [46]:
'x' in ['x', 'y', 'z']

True

In [47]:
'a' in 'a world'

True

In [48]:
'mykey' in {'mykey':345}

True

In [54]:
d = {'mykey':345}
345 in d.values()

True

In [55]:
d = {'mykey':345}
345 in d.keys()

False

In [57]:
mylist = [10,20,30,40,100]
print(min(mylist))
print(max(mylist))

10
100

In [58]:
from random import shuffle

In [60]:
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)

In [62]:
random_list = shuffle(mylist)

In [63]:
type(random_list) #inplace function

NoneType

In [64]:
mylist

[9, 8, 2, 10, 3, 5, 1, 7, 6, 4]

In [65]:
from random import randint

In [68]:
randint(0,100)

66

In [69]:
mynum = randint(0,10)

In [70]:
mynum

7

In [75]:
result = input('Enter a number here: ')

Enter a number here: 40

In [80]:
result

'40'

In [77]:
type(result)

str

In [78]:
float(result)

40.0

In [79]:
int(result)

40

In [85]:
result = int(input('Enter a number here: '))
result

Enter a number here: 50

50

In [84]:
result = float(input('Enter a number here: '))
result

Enter a number here: 50

50.0

# List Comprehensions

In [86]:
mystring ='hello'

In [87]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [88]:
mylist

['h', 'e', 'l', 'l', 'o']

In [89]:
# one line 
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [90]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [92]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [95]:
mylist = [x for x in range (0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [96]:
mylist = [x**2 for x in range (0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [103]:
celcius = [0,10,20,34,5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 93.2, 41.0]

In [106]:
#same result from a typical for loop
fahrenheit = []
for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))
fahrenheit

[32.0, 50.0, 68.0, 93.2, 41.0]

In [116]:
results = [x if x%2==1 else 'ODD' for x in range(0,11)]
results

['ODD', 1, 'ODD', 3, 'ODD', 5, 'ODD', 7, 'ODD', 9, 'ODD']

In [123]:
# Using nested loops
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [121]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [122]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]