In [8]:
time = float(input("Input time in seconds: "))
day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time
print("d:h:m:s-> %d:%d:%d:%d" % (day, hour, minutes, seconds))

Input time in seconds: 788
d:h:m:s-> 0:0:13:8

In [14]:
import datetime
datetime.datetime.fromtimestamp(1)

datetime.datetime(1970, 1, 1, 1, 0, 1)

In [1]:
def convertSeconds(seconds):
    h = seconds//(60*60)
    m = (seconds-h*60*60)//60
    s = seconds-(h*60*60)-(m*60)
    return [h, m, s]

In [3]:
convertSeconds(67622)

[18, 47, 2]

In [49]:
df = pd.read_csv('KT19_20200119_10.dat', header = None)
df

                                                       0
0      20200119 09 59 59.92   260.93       1.00      ...
1      20200119 10 00 00.07   260.84       1.00      ...
2      20200119 10 00 00.17   260.86       1.00      ...
3      20200119 10 00 00.28   260.91       1.00      ...
4      20200119 10 00 00.37   260.96       1.00      ...
...                                                  ...
28945  20200119 10 59 59.35   249.24       1.00      ...
28946  20200119 10 59 59.50   249.36       1.00      ...
28947  20200119 10 59 59.60   249.25       1.00      ...
28948  20200119 10 59 59.75   249.26       1.00      ...
28949  20200119 10 59 59.85   249.31       1.00      ...

[28950 rows x 1 columns]

In [48]:
6//2

3