In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('df.csv')
df_tixan_oct17_22= pd.DataFrame(df.loc[3312:3455,'ground_tixan'].reset_index(drop=True))

#################14th august tunshi clear day#################
df_3km = pd.read_csv('overcast_3km_tixan.csv')
df_9km = pd.read_csv('overcast_9km_tixan.csv')
x = np.arange(0,145,1)
y_tkm = np.repeat(x, 180)
y_nkm = np.repeat(x, 60)
df_y_tkm = pd.DataFrame(y_tkm,columns=['time'])
df_y_nkm = pd.DataFrame(y_nkm,columns=['time'])
tkm = pd.concat([df_y_tkm,df_3km], axis=1)
nkm = pd.concat([df_y_nkm,df_9km], axis=1)
test3km = tkm.groupby(['time']).mean()
test9km = nkm.groupby(['time']).mean()
test_concat = pd.concat([test3km,test9km], axis=1)
df_all = pd.concat([test3km,test9km,df_tixan_oct17_22], axis=1)
df_all.reset_index(inplace=True)
df_all['time']= df_all['index']
del df_all['index']
#df_all.tail()
df_all.drop(df_all.tail(1).index,inplace=True)

In [3]:
df_all

,overcast_rrtmg_tixan_3km,overcast_dudhia_tixan_3km,overcast_goddard_tixan_3km,overcast_goddard_old_tixan_3km,overcast_rrtmg_tixan_9km,overcast_dudhia_tixan_9km,overcast_goddard_tixan_9km,overcast_goddard_old_tixan_9km,ground_tixan,time
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002,0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003,1
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002,2
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005,3
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004,4
...,...,...,...,...,...,...,...,...,...,...
139,697.908460,711.055928,718.642653,739.269605,667.760603,708.737254,686.495274,735.285420,12.921,139
140,513.659776,527.921049,533.043430,552.727872,485.806734,525.880753,497.750009,551.357590,19.693,140
141,298.115520,308.024801,309.883552,333.206876,273.866530,306.807091,281.684783,332.685759,13.546,141
142,83.322474,80.025635,88.603962,103.223510,72.392221,80.137780,75.005248,103.653846,3.334,142
143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.768,143

In [7]:
def rmse(y, y_pred):
    return np.sqrt(np.mean(np.square(y - y_pred)))
rmse_rrtmg_3=rmse(df_all.ground_tixan,df_all.overcast_rrtmg_tixan_3km)
rmse_rrtmg_9=rmse(df_all.ground_tixan,df_all.overcast_rrtmg_tixan_9km)
rmse_dhudia_3=rmse(df_all.ground_tixan,df_all.overcast_dudhia_tixan_3km)
rmse_dhudia_9=rmse(df_all.ground_tixan,df_all.overcast_dudhia_tixan_9km)
rmse_goddard_old_3=rmse(df_all.ground_tixan,df_all.overcast_goddard_old_tixan_3km)
rmse_goddard_old_9=rmse(df_all.ground_tixan,df_all.overcast_goddard_old_tixan_9km)
rmse_goddard_new_3=rmse(df_all.ground_tixan,df_all.overcast_goddard_tixan_3km)
rmse_goddard_new_9=rmse(df_all.ground_tixan,df_all.overcast_goddard_tixan_9km)

def RE_parcent(obs,model):
    RE = ((model-obs)*100)/obs
#    RE1=np.where(RE>100, 0, RE)
#    RE2=np.where(RE1<-99, 0, RE1)
    RE3=np.nan_to_num(RE)
    return RE3
RE_rrtmg_3=RE_parcent(df_all.ground_tixan,df_all.overcast_rrtmg_tixan_3km)
RE_rrtmg_9=RE_parcent(df_all.ground_tixan,df_all.overcast_rrtmg_tixan_9km)
RE_dhudia_3=RE_parcent(df_all.ground_tixan,df_all.overcast_dudhia_tixan_3km)
RE_dhudia_9=RE_parcent(df_all.ground_tixan,df_all.overcast_dudhia_tixan_9km)
RE_goddard_old_3=RE_parcent(df_all.ground_tixan,df_all.overcast_goddard_old_tixan_3km)
RE_goddard_old_9=RE_parcent(df_all.ground_tixan,df_all.overcast_goddard_old_tixan_9km)
RE_goddard_new_3=RE_parcent(df_all.ground_tixan,df_all.overcast_goddard_tixan_3km)
RE_goddard_new_9=RE_parcent(df_all.ground_tixan,df_all.overcast_goddard_tixan_9km)

In [8]:
rmse_goddard_new_3

441.4164542494442

In [9]:
RE_rrtmg_3

array([-100.        , -100.        , -100.        , -100.        ,
       -100.        , -100.        , -100.        , -100.        ,
       -100.        , -100.        , -100.        , 2259.38275523,
       2258.94103556, 3579.46434782, 3383.70361833, 3226.25806739,
       3259.74822221, 4743.25022969, 3210.92322094, 1363.56621942,
        995.99201145, 1251.13400686,  453.50278024, -100.        ,
          0.        , -100.        ,    0.        , -100.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        , -100.        , 1759.79227633,
       2654.84650568, 3130.93127827, 3683.69199887, 4123.70912815,
       3890.52288602, 3234.72298408, 3601.95620595, 2507.0785719 ,
       1869.54173858, 2259.74932444,  933.80316697, -100.        ,
          0.        ,    0.        , -100.        ,    0.        ,
          0.        , -100.        , -100.        ,    0.        ,
       -100.        ,    0.        , -100.        , 1544.87166331,
       2675.39838056, 1725.89459813, 2019.45376633, 3109.2766755 ,
       3260.14459192, 1891.04336356, 1656.72745553, 1604.18786584,
       1569.84967526, 1676.84771459, 1390.29759001, -100.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
       -100.        , -100.        , -100.        , -100.        ,
       -100.        , -100.        , -100.        , 3852.53871276,
       6933.71190283, 6316.88379321, 3416.58464305, 3187.66907656,
       3595.18631425, 3506.6713509 , 3198.21364278, 1982.50214989,
       2056.27672306, 2394.34320589, 1694.71030237, -100.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        , -100.        , -100.        , -100.        ,
       -100.        , -100.        ,    0.        , 3911.00516623,
       1288.81830489, 1885.56588001, 1741.96135903, 2106.67014394,
       1976.73703644, 2453.95413431, 2315.68584061, 2095.45590903,
       3244.88680266, 3947.35139039, 3051.10783115, -100.        ,
          0.        ,    0.        ,    0.        , -100.        ,
          0.        , -100.        , -100.        , -100.        ,
       -100.        , -100.        , -100.        , 4094.89226448,
       2294.4336536 , 1971.79436067, 2631.93630439, 4307.76062655,
       2604.39053836, 2679.66689367, 3654.90142333, 5301.35020294,
       2508.33684868, 2100.76421043, 2399.17437512, -100.        ])