In [45]:
import pandas as pd
df = pd.read_csv("afglt_evi.dat", sep = "\s+", skiprows=2, header=None, names=['Z_km','P_mb','T_K','air_cm-3','o3_cm-3','o2_cm-3','h2o_cm-3','co2_cm-3','no2_cm-3'])

In [46]:
len(df.columns)

9

In [48]:
df.tail()

,Z_km,P_mb,T_K,air_cm-3,o3_cm-3,o2_cm-3,h2o_cm-3,co2_cm-3,no2_cm-3
85,0.8,925.88561,295.32,2.269920e+19,6.979380e+11,4.721500e+18,5.690460e+17,7.454940e+15,519584000.0
86,0.6,947.63468,296.94,2.310240e+19,6.979660e+11,4.812400e+18,6.290420e+17,7.598480e+15,529588000.0
87,0.4,969.38376,298.56,2.350560e+19,6.979940e+11,4.903300e+18,6.890380e+17,7.742020e+15,539592000.0
88,0.2,991.13283,300.18,2.390880e+19,6.980220e+11,4.994200e+18,7.490340e+17,7.885560e+15,549596000.0
89,0.0,1012.88190,301.80,2.431200e+19,6.980500e+11,5.085100e+18,8.090300e+17,8.029100e+15,559600000.0